body{
    background-color: black;
    color: white;
}

.navbar{
    background-color: #333333;
}

.navigation-links{
    display: flex;
    width: 100%;
}

.nav-link.active{
    color:red;
}

#logout-block{
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media only screen and (max-device-width: 480px) {
    .navigation-links{
        justify-content: space-between;
    }
}