body{
    background-color: black;
    color: white;
}

.navbar{
    background-color: #333333;
}

p {
    margin-left: 2rem;
}

.navigation-links{
    display: flex;
    width: 100%;
}

.nav-link.active{
    color:red;
}

#logout-block{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.login-register-block{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.login-form{
    padding: 1rem;
}

.button{
    background-color: white;
}

@media only screen and (max-device-width: 480px) {
    .navigation-links{
        justify-content: space-between;
    }

    .login-register-block{
        flex-direction: row;
    }
    .login-link {
        padding-left: .25rem;
    }
}