body {
    background-image: url("https://images.unsplash.com/photo-1488984255023-366a9062e35c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1508&q=80");
    background-repeat: no-repeat;
  background-color: black;
  color: white;
  font-family: 'Turret Road', cursive;
}

.navbar {
  background-color: #333333;
}

p {
  margin-left: 2rem;
  font-size: 1.5em;
}

h1 {
    font-family: 'Bungee Inline', cursive; */
}

h2 {
    font-family: 'Special Elite', cursive;
}

.navigation-links {
  display: flex;
  width: 100%;
}

.nav-link.active {
  color: red;
}

#logout-block {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.login-register-block {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.login-form {
  padding: 1rem;
}

.button {
  background-color: white;
}

/* kyle's CSS for battles.html */

/* FONT FAMILIES
font-family: 'Righteous', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Turret Road', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace;
font-family: 'Syncopate', sans-serif;
font-family: 'Bungee Inline', cursive; */

.game-header {
    margin: .6em;
    font-size: 3em;
}

.game-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.game-block {
  flex: 0 0 670px;
  width: 80%;
  background-color: gray;
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 480px) {
  .navigation-links {
    justify-content: space-between;
  }

  .login-register-block {
    flex-direction: row;
  }
  .login-link {
    padding-left: 0.25rem;
  }
}
