body{
    background-color: black;
    color: aqua;
}

.navbar{
    background-color: #333333;
}

.navigation-links{
    display: flex;
    width: 100%;
}

@media only screen and (max-device-width: 480px) {
    .navigation-links{
        justify-content: space-between;
    }
}