{% extends "base.html" %} {% block content %}
<div class="game-page">
  <h1 class="game-header">GridLocked</h1>

  <div class="game-block">
    Gameplay goes here
  </div>

  <div class="info-block" id="battles-info">
    <h2>Battles</h2>
    <p>
      Here the player manages their current battles. Battles are not timed and
      are paused by default, encouraging players to play here and there when
      they have time.
    </p>
  </div>

  <div class="info-block" id="PvE-info">
    <h2>PvE</h2>
    <p>
      In a typical PvE battle, the player faces procedurally generated
      "Freelancers."
    </p>
    <p>
      Freelancers can be captured by GridLocking them: surrounding them on all 4
      sides and keeping the surrounding mechs operational for a full turn cycle.
      In practice, this is best done by destroying the remaining mechs and
      targeting the lone survivor for capture and ultimate recruitment.
    </p>
    <p>
      Other than recruitment, players can find randomly generated equipment.
    </p>
  </div>

  <div class="info-block" id="PvP-info">
    <h2>PvP</h2>
    <p>
      In a typical PvP battle, players take turns and are alerted via
      notification when it is their turn.
    </p>
    <p>
      PvP battles can either be Locked (where mechs are level balanced) or Open
      (where they carry their native stats).
    </p>
    <p>
      Ranked Battles will involve constructing teams in the workshop from a pool
      of mechs and equipment identical for all other players.
    </p>
    <p>
      Junkyard is also available with a common mech and equipment pool drafted
      by both players.
    </p>
    <p>
      Rewards will vary based on the format, but could include xp, fixed
      rewards, or keeping drafted mechs or equipment.
    </p>
  </div>
</div>

{% endblock %}
