{% extends "base.html" %}
{% block content %}
    <h1>Workshop</h1>
    <p>Here the player repairs, equips, and customizes their mechs.</p>
    <p>The player have a roster of a fixed (but upgradeable) size and can organize their mechs into teams of up to 3 mechs each, adding (progessively more powerful) scripts so that the teams can act and react without the player being online.</p>
    <p>These teams can be deplyed to help the player's friends on raids or to defend key strong points. These teams will gain loot and xp while the player is not online and alert them with notifications here.</p>
{% endblock %}